
<header class="header">
  <div class="header__container">
    <h1 class="header__logo"><a href="/zultebeke/" class="header__logo-link">Zultebeke</a></h1>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="/zultebeke/nathalie.html" class="header__nav-link" data-nav="nathalie">Nathalie Wullepit</a></li>
        <li><a href="/zultebeke/lieven.html" class="header__nav-link" data-nav="lieven">Lieven Van West</a></li>
        <li><a href="/zultebeke/#contact" class="header__nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
